body {
    display: flex;
    justify-content: center;  /* 水平居中 */
    align-items: flex-start;  /* 从上方开始对齐 */
    box-sizing: border-box;
	overflow-x: hidden;
    flex-wrap: wrap;          /* 允许子元素换行 */
}

li::marker {
	content: none;/* 移除标记符号 */
}

.gallery {
	max-width: 100vw;
	padding: 1rem;/* 内边距 */
	margin: 0;/* 外边距 */
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

.thumb {
	width: 500px;/* 固定宽度 */
	height: auto;/* 根据图像纵横比自动调整高度 */
	transition: transform 0.3s ease;
	margin: 10px 0; /* 上边下边 | 左边右边 */
	box-sizing: border-box; /* 防止溢出 */
}

.thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;/* 确保图像覆盖整个容器且不失真 */
	border: none;
	border-radius: 10px;
}

.thumb:hover {
	transform: scale(1.05);/* 悬停时有轻微缩放效果 */
}

/* waterfall样式1 */
/* .waterfall {
	width: 80%;
	column-gap: 10px;
	column-count: 4;
	margin: 0 auto;
}

.item {
	padding: 10px;
	margin-bottom: 10px;
	break-inside: avoid;
	border: 1px solid #000;
} */


/* waterfall样式2 */
/* .waterfall {
    column-count: 3;
    column-gap: 15px;
}
.item {
	display: inline-block;
	break-inside: avoid;
} */


/* waterfall响应式设计 自动列数 */
/* @media (min-width: 992px) and (max-width: 1300px) {
	.waterfall {
		column-count: 3;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.waterfall {
		column-count: 2;
	}
} */
