body.dark-mode {
	background-color: var(--dark-background-color) !important;
	color: var(--dark-foreground-color) !important;
	font-weight: bold;
}

body.dark-mode a {
	color: var(--dark-primary-color) !important;
}

body.dark-mode a:visited {
	color: var(--dark-secondary-color) !important;
}

body.dark-mode div {
	background-color: var(--dark-background-color) !important;
}

body.dark-mode img {
	filter: brightness(0.7) contrast(1.2) !important;
}

body.dark-mode p {
	color: var(--dark-foreground-color) !important;
}

body.dark-mode form {
	background-color: var(--dark-form-background-color) !important;
}

body.dark-mode input {
	background-color: var(--dark-background-color) !important;
	border: 2px solid var(--dark-border-color) !important;
	color: var(--dark-foreground-color) !important;
}

body.dark-mode button {
	background-color: var(--dark-primary-color) !important;
	color: var(--dark-button-foreground-color) !important;
}

body.dark-mode label {
	color: var(--dark-foreground-color) !important;
}

body.dark-mode div.fixed-right {
	background: var(--semi-transparent-black) !important;
}

body.dark-mode div.nav-drop {
	box-shadow: -3px 0 10px var(--barely-transparent-white) !important;
}

body.dark-mode button#resetButton {
	background-color: var(--dark-danger-color) !important;
}

body.dark-mode form#search-form {
	background-color: var(--dark-background-color) !important;
}

#night-mode-toggle {
	position: fixed;
	top: 12px;
	left: 12px;
	width: 36px;
	height: 36px;
	background-color: transparent !important;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	z-index: 1000;
}

#night-mode-icon {
	width: 36px;
	height: 36px;
}