body.dark-mode {
	background-color: var(--dark-background-color) !important;
	color: var(--dark-foreground-color) !important;
	font-weight: bold;
}

body.dark-mode a {
	color: var(--dark-primary-color) !important;
}

body.dark-mode a:visited {
	color: var(--dark-secondary-color) !important;
}

body.dark-mode div {
	background-color: var(--dark-background-color) !important;
}

body.dark-mode img {
	filter: brightness(0.7) contrast(1.2) !important;
}

body.dark-mode p {
	color: var(--dark-foreground-color) !important;
}

body.dark-mode form {
	background-color: var(--dark-form-background-color) !important;
}

body.dark-mode input {
	background-color: var(--dark-background-color) !important;
	border: 2px solid var(--dark-border-color) !important;
	color: var(--dark-foreground-color) !important;
}

body.dark-mode button {
	background-color: var(--dark-primary-color) !important;
	color: var(--dark-button-foreground-color) !important;
}

body.dark-mode label {
	color: var(--dark-foreground-color) !important;
}

/* 补丁 */
body.dark-mode div#reading-progress {
	background-color: var(--dark-primary-color) !important;
}

body.dark-mode div.fixed-right {
	background: var(--semi-transparent-black) !important;
}

body.dark-mode div.nav-drop {
	box-shadow: -3px 0 10px var(--barely-transparent-white) !important;
}

body.dark-mode button#reset-button {
	background-color: var(--dark-danger-color) !important;
}

body.dark-mode form#search-form {
	background-color: var(--dark-background-color) !important;
}

body.dark-mode div.container {
	box-shadow: 0 4px 6px var(--dark-border-color) !important;
}

body.dark-mode button.delete-btn {
	background-color: var(--dark-danger-color) !important;
	color: var(--dark-button-foreground-color) !important;
}

body.dark-mode a#confirm-delete {
	background-color: var(--dark-danger-color) !important;
}

body.dark-mode a#confirm-delete, 
body.dark-mode a#cancel-delete {
	color: var(--dark-button-foreground-color) !important;
}

body.dark-mode div#delete-modal-content {
    box-shadow: 0 4px 8px var(--barely-transparent-white) !important;
}

body.dark-mode div.pagination a.current {
	color: var(--dark-button-foreground-color) !important;
}

body.dark-mode div.sidebar-trigger {
	background-color: transparent !important;
}

body.dark-mode button.fullscreen-nav-button {
	background-color: var(--dark-background-color) !important;
}

body.dark-mode div.overlay {
	background-color: transparent !important;
}

body.dark-mode div.sidebar-trigger img,
body.dark-mode div.icon-wrap img,
body.dark-mode .fix-right-icon
body.dark-mode #night-mode-icon {
    filter: brightness(1.2) contrast(1.2) !important;
}

/* 切换按钮 */
#night-mode-toggle {
	position: fixed;
	top: 12px;
	left: 12px;
	width: 36px;
	height: 36px;
	background-color: transparent !important;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	z-index: 1000;
}

#night-mode-icon {
	width: 36px;
	height: 36px;
}