:root {
	--thumb-width: 500px;
	--img-radius: 10px;
}

body.locked {
	overflow: hidden;
	/* 隐藏滚动条 */
	height: 100%;
	/* 防止页面高度变化 */
	width: 100%;
	/* 防止页面宽度变化 */
	position: fixed;
	/* 锁定页面位置 */
	top: 0;
	left: 0;
}

li::marker {
	content: none;
	/* 移除标记符号 */
}

.main {
	display: flex;
	justify-content: center;
	/* 水平居中 */
	align-items: flex-start;
	/* 从上方开始对齐 */
	box-sizing: border-box;
	overflow-x: hidden;
	flex-wrap: wrap;
	/* 允许子元素换行 */
}

.gallery {
	max-width: 100vw;
	padding: 1rem;
	/* 内边距 */
	margin: 0;
	/* 外边距 */
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

.thumb {
	width: var(--thumb-width);
	/* 固定宽度 */
	height: auto;
	/* 根据图像纵横比自动调整高度 */
	transition: transform 0.3s ease;
	margin: 10px 0;
	/* 上边下边 | 左边右边 */
	box-sizing: border-box;
	/* 防止溢出 */
}

.thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 确保图像覆盖整个容器且不失真 */
	border: none;
	border-radius: var(--img-radius);
}

.thumb:hover {
	transform: scale(1.05);
	/* 悬停时有轻微缩放效果 */
}

.fullscreen-viewer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--little-transparent-black);
	justify-content: space-between;
	/* center垂直居中 */
	align-items: center;
	/* 水平居中 */
	z-index: 9999;
}

.fullscreen-nav-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	transition: transform 0.2s;
}

.fullscreen-nav-button:hover {
	transform: scale(1.1);
}

.fullscreen-nav-button img {
	width: 24px;
	height: 24px;
}

.fullscreen-nav-button:focus {
	outline: none;
	/* 移除默认的焦点轮廓 */
	box-shadow: 0 0 0 2px var(--semi-transparent-white);
	/* 添加自定义的焦点指示器 */
}

/* 透明覆盖层样式 */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;
	/* 高于图片，但低于按钮 */
	cursor: pointer;
	background: var(--transparent-white);
	/* 完全透明 */
	pointer-events: none;
	/* 忽略鼠标事件 */
}

/* 恢复左右点击区域的事件 */
#leftOverlay,
#rightOverlay {
	pointer-events: auto;
	/* 恢复事件捕获 */
	cursor: pointer;
	/* 显示可点击手型 */
}

/* 左侧覆盖层 */
#leftOverlay {
	left: 0;
	width: 50%;
}

/* 右侧覆盖层 */
#rightOverlay {
	right: 0;
	width: 50%;
}

#fullscreenImage {
	max-width: 100%;
	max-height: 100%;
	user-select: none;
	z-index: 1;
}

.progress-indicator {
	position: absolute;
	/* 绝对定位以便放在任意位置 */
	top: 20px;
	/* 距离顶部20px */
	left: 20px;
	transform: translateX(-50%);
	/* 水平居中调整 */
	font-size: 18px;
	/* 字体大小 */
	color: white;
	/* 字体颜色 */
}

.fullscreen-close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}