.bigimg {
	position: relative;
	height: auto;
	overflow: hidden;
	width: 100%
}

.bigimg img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	-webkit-transition: all .7s linear;
	transition: all .7s;
}
