/* 搜索框和按钮样式 */
form {
	margin: 20px;
	text-align: center;
}

form input[type="text"] {
	width: 300px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid var(--border-color);
	border-radius: 20px;
	outline: none;
	box-shadow: inset 0 1px 3px var(--barely-transparent-black);
}

form input[type="text"]:focus {
	border-color: var(--main-color);
	box-shadow: 0 0 5px var(--semi-transparent-blue);
}

form button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: var(--main-color);
	color: white;
	border: none;
	border-radius: 20px;
	/* 圆角 */
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form button:hover {
	background-color: var(--grey-main-color);
}

form>* {
	margin-top: 10px;
}

/* 列表样式 */
ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

ul li {
	margin: 10px 0;
}

/* 未访问的链接 */
a:link {
	text-decoration: none;
	/* 没有下划线 */
	font-size: 1rem;
	color: var(--main-color);
	transition: color 0.3s ease;
}

/* 鼠标悬停状态 */
a:hover {
	text-decoration: underline;
	/* 添加下划线 */
}

/* 链接激活（按下）状态 */
a:active {
	color: yellow;
}

/* 访问过的链接 */
a:visited {
	color: purple !important;
	/* 强制应用 */
}