h2 {
	font-size: 20px;
	color: var(--foreground-color);
	margin-bottom: 10px;
	border-bottom: 2px solid var(--main-color);
	display: inline-block;
	padding-bottom: 5px;
}

hr {
	border: none;
	border-top: 1px solid var(--border-color);
	margin: 20px 0;
}


label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--foreground-color);
}

input[type="number"] {
	width: 95%;
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	font-size: 16px;
}

input[type="number"]:focus {
	border-color: var(--main-color);
	outline: none;
	box-shadow: 0 0 5px var(--semi-transparent-blue);
}

button {
	display: inline-block;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 6px var(--barely-transparent-black);
	padding: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.action {
	display: flex;
	justify-content: space-between;
	/* 让子元素在主轴上两端对齐 */
	align-items: center;
	/* 让子元素在交叉轴上居中对齐，即确保垂直居中 */
	width: 100%;
	/* 占满父容器的宽度 */
}

#saveButton {
	background: var(--main-color);
}

#saveButton:hover {
	background: var(--grey-main-color);
}

#resetButton {
	background: var(--light-red);
}

#resetButton:hover {
	background: var(--dark-red);
}