<div id="fullscreen-viewer">
	<div id="progress-indicator">0/0</div>
	<div id="slideshow-progress-indicator"></div>
	<button id="fullscreen-prev-button" class="fullscreen-nav-button">
		<img src="/static/asset/prev_white.svg"/>
	</button>
	<div id="left-overlay" class="overlay"></div>
	<img src="" alt="" id="fullscreen-image">
	<div id="right-overlay" class="overlay"></div>
	<button id="fullscreen-next-button" class="fullscreen-nav-button">
		<img src="/static/asset/next_white.svg"/>
	</button>
	<div id="fullscreen-slideshow-button">▶</div>
	<div id="fullscreen-close-button">×</div>
</div>