<div id="dropdown">
    <div class="sidebar-trigger">
        <img src="/static/asset/list.svg"/>
    </div>
    <div class="nav-drop">
        <div class="nav-drop-body">
            <a class="nav-drop-item" href="/random_subdir?path={{ random_path | urlencode }}">
                <div class="media">
                    <div class="icon-wrap">
                        <img src="/static/asset/random.svg"/>
                    </div>
                    <div class="media-content">
                        <p>随机</p>
                    </div>
                </div>
            </a>
            <a class="nav-drop-item" href="/settings">
                <div class="media">
                    <div class="icon-wrap">
                        <img src="/static/asset/settings.svg"/>
                    </div>
                    <div class="media-content">
                        <p>设置</p>
                    </div>
                </div>
            </a>
            <a class="nav-drop-item" href="/logout">
                <div class="media">
                    <div class="icon-wrap">
                        <img src="/static/asset/exit.svg"/>
                    </div>
                    <div class="media-content">
                        <p>登出</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
