<div id="fullscreenViewer" class="fullscreen-viewer">
	<div id="progressIndicator" class="progress-indicator">0/0</div>
	<button id="fullscreenPrevButton" class="fullscreen-nav-button">
		<img src="/static/asset/prev_white.svg"/>
	</button>
	<div id="leftOverlay" class="overlay"></div>
	<img src="" alt="" id="fullscreenImage">
	<div id="rightOverlay" class="overlay"></div>
	<button id="fullscreenNextButton" class="fullscreen-nav-button">
		<img src="/static/asset/next_white.svg"/>
	</button>
	<div id="fullscreenCloseButton" class="fullscreen-close-button">×</div>
</div>