<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/dark_mode.css">
		<script src="/static/js/dark_mode.js"></script>
	</head>
	<body id="gallery-body">
		<div class="main">
			{% include "dark_mode.html" %}
			{% include "dropdown.html" %}
			<div id="reading-progress"></div>
			{% include "header.html" %}

			<ul class="gallery">
				{% for image_path in images %}
				<li class="thumb">
					<img class="lazy gallery-img" src="/static/asset/placeholder.svg"
						data-original="/view_img?path={{ image_path | urlencode }}" alt="{{ folder_name }}">
				</li>
				{% endfor %}
			</ul>

			{% include "fullscreen_viewer.html" %}
			{% include "footer.html" %}
		</div>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/gallery_common.js"></script>
		<script src="/static/js/lazyload.js"></script>
		<script src="/static/js/masonry.js"></script>
		<script src="/static/js/gallery_desktop.js"></script>
		<script src="/static/js/dropdown.js"></script>
		<script src="/static/js/delete.js"></script>
		<script src="/static/js/fullscreen_viewer.js"></script>
	</body>
</html>