<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/dark_mode.css">
		<script src="/static/js/dark_mode.js"></script>
	</head>
	<body id="gallery-body">
		<div class="main">
			{% include "dark_mode.html" %}
			{% include "dropdown.html" %}
			<div id="reading-progress"></div>
			{% include "header.html" %}

			<div class="bigimg">
				{% for image_path in images %}
				<div class="item">
					<img class="lazy gallery-img" src="/static/asset/placeholder.svg"
						data-original="/view_img?path={{ image_path | urlencode }}" alt="{{ folder_name }}">
				</div>
				{% endfor %}
			</div>

			<div class="footer">
				{% include "fix-right.html" %}
				{% include "nav.html" %}
				{% include "pagination.html" %}
			</div>
		</div>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/config.js"></script>
		<script src="/static/js/gallery_common.js"></script>
		<script src="/static/js/lazyload.js"></script>
		<script src="/static/js/gallery_mobile.js"></script>
		<script src="/static/js/dropdown.js"></script>
		<script src="/static/js/delete.js"></script>
	</body>
</html>