<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/common.css" />
		<link rel="stylesheet" href="/static/css/dark_mode.css" />
		<script src="/static/js/dark_mode.js"></script>
	</head>
	<body>
		<div class="main">
			{% include "_dark_mode.html" %}
			{% include "_dropdown.html" %}
			<div class="header">
				{% include "_search_form.html" %}
			</div>

			{% include "_list.html" %}
			{% include "_delete_modal.html" %}

			{% if total_pages > 1 %}
			<div class="pagination">
				{% for i in range(1, total_pages + 1) %}
				{% if i == page %}
				<a class="current" href="/view_dir?path={{ path|urlencode }}&page={{ i }}">{{ i }}</a>
				{% else %}
				<a href="/view_dir?path={{ path|urlencode }}&page={{ i }}">{{ i }}</a>
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<script src="/static/js/index.js"></script>
		<script src="/static/js/dropdown.js"></script>
		<script src="/static/js/delete.js"></script>
	</body>
</html>