<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/index.css">
		<link rel="stylesheet" href="/static/css/dark_mode.css">
		<script src="/static/js/dark_mode.js"></script>
	</head>
	<body>
		{% include "dark_mode.html" %}
		<div class="header">
			<form action="/search" method="POST">
				<input type="text" name="query" value="{{ query }}" placeholder="请输入搜索内容">
				<br />
				<label for="search">深度搜索</label>
				<input type="checkbox" id="search" name="depth" value="deep">
				<button type="submit">搜索</button>
			</form>
		</div>
		<div id="dropdown">
			<div class="sidebar-trigger">
				<img src="/static/asset/list.svg"/>
			</div>
			<div class="nav-drop">
				<div class="nav-drop-body">
					<a class="nav-drop-item" href="/random_subdir?path={{ path | urlencode }}">
						<div class="media">
							<div class="icon-wrap">
								<img src="/static/asset/random.svg"/>
							</div>
							<div class="media-content">
								<p>随机</p>
							</div>
						</div>
					</a>
					<a class="nav-drop-item" href="/settings">
						<div class="media">
							<div class="icon-wrap">
								<img src="/static/asset/settings.svg"/>
							</div>
							<div class="media-content">
								<p>设置</p>
							</div>
						</div>
					</a>
					<a class="nav-drop-item" href="/logout">
						<div class="media">
							<div class="icon-wrap">
								<img src="/static/asset/exit.svg"/>
							</div>
							<div class="media-content">
								<p>登出</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<ul>
			{% for folder in subdirectories %}
			<li>
				<a href="/view_dir?path={{ folder | urlencode }}">{{ folder | basename }}</a>
			</li>
			{% endfor %}
		</ul>

		{% if total_pages > 1 %}
		<div class="pagination">
			{% for i in range(1, total_pages + 1) %}
			{% if i == page %}
			<a class="current" href="/view_dir?path={{ path | urlencode }}&page={{ i }}">{{ i }}</a>
			{% else %}
			<a href="/view_dir?path={{ path | urlencode }}&page={{ i }}">{{ i }}</a>
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}

		<script src="/static/js/index.js"></script>
	</body>
</html>