<ul id="dir-list">
    {% for folder in items %}
    <li>
        <a href="/view_dir?path={{ folder | urlencode }}">{{ folder | basename }}</a>
        <button class="delete-btn" data-path="{{ folder | urlencode }}">删除</button>
    </li>
    {% if loop.index0 % 2 == 0 %}
    <hr class="dotted-hr">
    {% else %}
    <hr class="normal-hr">
    {% endif %}
    {% endfor %}
</ul>

<div id="delete-modal">
    <div id="delete-modal-content">
        <p id="delete-msg"></p>
        <a id="confirm-delete" href="#">是</a>
        <a id="cancel-delete">否</a>
    </div>
</div>