<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/dark_mode.css">
		<script src="/static/js/dark_mode.js"></script>
	</head>
	<body>
		{% include "dark_mode.html" %}
		{% include "search_form.html" %}
		<ul id="dir-list">
			{% for folder in results %}
			<li>
				<a href="/view_dir?path={{ folder | urlencode }}">{{ folder | basename }}</a>
			</li>
			{% endfor %}
		</ul>

	</body>
</html>